<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapeo de Dispositivos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .form {
            background: rgba(0, 0, 0, 0.9);
            padding: 40px;
            margin: 40px auto;
            border-radius: 4px;
            box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.3);
        }

        .notificacion {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #05AFF2;
            color: white;
            padding: 15px 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            opacity: 0;
            transform: translateY(20px);
            transition: all 0.3s ease;
            z-index: 1000;
        }

        .notificacion.mostrar {
            opacity: 1;
            transform: translateY(0);
        }

        .notificacion .cerrar {
            background: none;
            border: none;
            color: white;
            font-weight: bold;
            font-size: 16px;
            margin-left: 10px;
            cursor: pointer;
            float: right;
        }

        .notificacion .cerrar:hover {
            color: #ffcccc;
        }
    </style>

    <div class="row text-bg-dark p-3 text-center align-items-center" style="width: 100%;">
        <div class="col-12 col-md-4 mb-3 mb-md-0">
            <img class="img-fluid" src="https://www.intercomchile.cl/img/logoazul.png" alt="Logo azul" />
        </div>
        <div class="col-12 col-md-8">
            <h5 class="text-white">Sistema de mapeo de dispositivos</h5>
        </div>
    </div>
</head>

<body>
    <div id="notificacion" class="notificacion">
        {% with messages = get_flashed_messages() %}
        {% if messages != "" %}
        <p>{{ messages[-1] }}</p>
        <button class="cerrar" onclick="cerrarNotificacion()">✖</button>
        {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        <div class="col-12 col-md-2"></div>
        <div class="col-12 col-md-8">
            <div class="form text-bg-dark">
                <div class="row">
                    <div class="col-12">
                        <div class="btn-group d-flex flex-wrap justify-content-center">
                            <a href="/agregar" class="btn btn-secondary m-2">Agregar dispositivo</a>
                            <a href="/mapa" class="btn btn-secondary m-2">Ver mapa</a>
                            <a href="/cerrar" class="btn btn-secondary m-2">Cerrar sesion</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <form method="POST" action="/actualizarInfo" id="formActualizar">
                            <h2>Actualizar dispositivo</h2>
                            <div class="datos">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput6" class="form-label">ID</label>
                                    <input type="number" class="form-control" id="exampleFormControlInput6" name="id"
                                        value="{{ id }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Latitud</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" name="latitud"
                                        value="{{ latitud }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput2" class="form-label">Longitud</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput2"
                                        name="longitud" value="{{ longitud }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput3" class="form-label">Nombre caja</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput3"
                                        name="nombreCaja" value="{{ nombreCaja }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput4" class="form-label">Numero clientes</label>
                                    <input type="number" class="form-control" id="exampleFormControlInput4"
                                        name="cantidadClientes" value="{{ cantidadClientes }}" min="0" max="8" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput5" class="form-label">Planta</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput5" name="planta"
                                        value="{{ planta }}" required>
                                </div>
                            </div>
                            <div class="button-container">
                                <div class="d-flex flex-wrap justify-content-center">
                                    <button type="submit" class="btn btn-primary btn-lg" id="submitButton">Actualizar
                                        dispositivo</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2"></div>
    </div>

    <script>
        // Mostrar notificación
        window.onload = () => {
            const notificacion = document.getElementById('notificacion');
            if (notificacion) {
                notificacion.classList.add('mostrar');
                setTimeout(cerrarNotificacion, 5000); // Ocultar automáticamente después de 5 segundos
            }
        };

        function cerrarNotificacion() {
            const notificacion = document.getElementById('notificacion');
            notificacion.classList.remove('mostrar');
        }

        function cerrarSesion() {
            window.location.href = "/cerrar";
        }

        const numero = document.getElementById('exampleFormControlInput4');
        numero.addEventListener('input', (event) => {
            if (numero.value > 8) {
                numero.value = null;
            }
            if (numero.value < 0) {
                numero.value = null;
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>