<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapeo Dispositivos - IntercomChileTV</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid h-25 d-block d-flex justify-content-around collapse navbar-collapse ml-3">
            <img src="https://deco.intercomchile.cl/img/logo-bronet.png" width="20%"></img>
            <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasOptions" aria-controls="offcanvasOptions">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        </div>
    </nav>

    <!-- Mapa a pantalla completa -->
    {{ mapaHtml|safe }}

    <!-- Offcanvas para opciones -->
    <div class="offcanvas offcanvas-end w-75 top-0 bg-dark text-light" tabindex="-1" id="offcanvasOptions"
        aria-labelledby="offcanvasOptionsLabel">
        <div class="offcanvas-header w-100 mb-1">
            <button type="button" class="btn-close btn-close-white me-3" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center w-100">
                <h3 class="offcanvas-title mb-2 mb-md-0" id="offcanvasOptionsLabel">Mapa de dispositivos</h3>
                <div class="w-75 w-md-25 m-2">
                    <a href="/agregar" class="btn btn-primary w-100">Agregar dispositivo</a>
                </div>
                <div class="w-75 w-md-25 m-2">
                    <a href="/cerrar" class="btn btn-primary w-100">Cerrar sesión</a>
                </div>
            </div>
        </div>
        <div class="offcanvas-body mt-1">
            <!--Filtros-->
            <form action="/mapa" method="POST" class="form py-2 w-100">
                <h4>Filtros</h4>
                <div class="form-floating mb-3">
                    <select class="form-select rounded-3" aria-label="Default select example"
                        id="exampleFormControlInput1" name="exampleFormControlInput1">
                        <option value="">Todos</option>
                        {% for nombre in opcionesNombre %}
                        <option value="{{ nombre[0] }}" {% if nombreSeleccionado==nombre[0] %} selected {% endif %}>
                            {{ nombre[0] }}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="exampleFormControlInput1" class="text-dark">Nombre caja</label>
                </div>
                <div class="mb-3 w-100 pt-0">
                    <label class="form-label mt-0 text-ligt">Número de clientes</label>
                    <div class="d-flex col-12">
                        <div class="row d-flex justify-content-between w-100">
                            <div class="form-floating w-50 mr-3">
                                <input type="number" class="form-control rounded-3" id="numeroMinimo"
                                    name="numeroMinimo" value="{{ numeroMinimoSeleccionado }}" placeholder="Min" min="0"
                                    max="8" required>
                                <label for="numeroMinimo" class="text-dark">Minimo</label>
                            </div>
                            <div class="form-floating w-50 ml-3">
                                <input type="number" class="form-control rounded-3" id="numeroMaximo"
                                    name="numeroMaximo" value="{{ numeroMaximoSeleccionado }}" placeholder="Max" min="0"
                                    max="8" required>
                                <label for="numeroMinimo" class="text-dark">Maximo</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-select rounded-3" aria-label="Default select example"
                        id="exampleFormControlInput4" name="exampleFormControlInput4">
                        <option value="">Todas</option>
                        {% for opcion in opcionesPlanta %}
                        <option value="{{ opcion[0] }}" {% if plantaSeleccionada==opcion[0] %} selected {% endif %}>
                            {{ opcion[0] }}
                        </option>
                        {% endfor %}
                    </select>
                    <label for="exampleFormControlInput4" class="form-label text-dark">Planta</label>
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-sm w-50 m-3 p-2">Aplicar Filtros</button>
                </div>
            </form>
            <!--Actualizar-->
            <form id="formActualizar" action="/actualizar" method="POST" class="form py-2 mt-3 w-100">
                <h4>Actualizar dispositivo</h4>
                <div class="form-floating mb-2">
                    <input type="number" class="form-control rounded-3" name="id" min="1" id="exampleFormControlInput5"
                        required>
                    <label for="exampleFormControlInput5" class="text-dark">Ingrese ID</label>

                </div>
                <div class="row d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-sm w-50 m-3 p-2">Actualizar</button>
                </div>
                <small class="text-body-secondary">Si no sabe la ID, haga clic en el
                    marcador.</small>
            </form>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Obtiene los elementos de los inputs
        const numeroMinimo = document.getElementById('numeroMinimo');
        const numeroMaximo = document.getElementById('numeroMaximo');
        const id = document.getElementById('exampleFormControlInput5');

        // Agrega un event listener para escuchar cambios en el input de número mínimo
        numeroMinimo.addEventListener('input', function () {
            if (numeroMinimo.value > 8 || numeroMinimo.value < 0) {
                numeroMinimo.value = null;
            }
            // Si el valor del número mínimo es mayor que el número máximo, actualiza el valor máximo
            if (parseInt(numeroMinimo.value) > parseInt(numeroMaximo.value)) {

                numeroMaximo.value = numeroMinimo.value; // Igualamos el máximo al mínimo
            }
        });

        // Agrega un event listener para escuchar cambios en el input de número máximo
        numeroMaximo.addEventListener('input', function () {
            if (numeroMaximo.value > 8 || numeroMaximo.value < 0) {
                numeroMaximo.value = null;
            }
            // Si el valor del número máximo es menor que el número mínimo, actualiza el valor mínimo
            if (parseInt(numeroMaximo.value) < parseInt(numeroMinimo.value)) {
                numeroMinimo.value = numeroMaximo.value; // Igualamos el mínimo al máximo
            }
        });

        id.addEventListener('input', function () {
            if (id.value < 1) {
                id.value = null
            }
        })
    </script>
</body>

</html>